version: 2
jobs:
  build:
    docker:
     - image: microsoft/dotnet:sdk

    working_directory: ~/repo

    environment:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1

    
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies
      - run: dotnet --info

      - run: dotnet restore
      #- run: dotnet build

      - run: cd Tests

      #- run: dotnet restore
      # run tests!
      - run: dotnet test

   